{% set dataChartPPID = __SELF__.dataChartPPID %}
<h2>Perbandingan Jalur Pemenuhan</h2>
<canvas id="ppid_chart_permintaan_lewat"></canvas>
<h2>Status Validasi Permintaan</h2>
<canvas id="ppid_chart_permintaan"></canvas>
<h2>Status Pemenuhan</h2>
<canvas id="ppid_chart_pemenuhan"></canvas>

{% put scripts %}
{# Dibutuhkan chartjs untuk loading grafis nya #}
{#
<script src="{{ "assets/chartjs/chart.min.js"|theme }}"></script>
<script src="{{ "assets/chartjs/chartjs-plugin-datalabels@2.0.0.min.js"|theme }}"></script>
<script src="{{ "assets/chartjs/utils.js"|theme }}"></script>
#}

<script type="text/javascript">
    Chart.register(ChartDataLabels)
    Chart.defaults.set('plugins.datalabels', {
        color: '#000000',
        backgroundColor: '#FFFFFF',
        borderRadius: 4,
        font: {
            weight: 'bold'
        },
        align: 'start',
        anchor: 'end'
    })
    const dataDipenuhiLewat = {
        labels : {{ dataChartPPID['PemenuhanLewat']['labels']|json_encode|raw }},
        datasets : [
        {
            label: 'Pemenuhan Lewat',
            backgroundColor: [      
                'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [      
                'rgb(255, 159, 64)',
            ],
            borderWidth: 1,
            data: {{ dataChartPPID['PemenuhanLewat']['data']|json_encode|raw }},
        }]
    }
    const dataPermintaan = {
        labels : {{ dataChartPPID['StatusPermintaan']['labels']|json_encode|raw }},
        datasets : [
        {
            label: 'Status Permintaan',
            backgroundColor: [      
                'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [      
                'rgb(255, 159, 64)',
            ],
            borderWidth: 1,
            data: {{ dataChartPPID['StatusPermintaan']['data']|json_encode|raw }},
        }]
    }
    const dataPemenuhan = {
        labels : {{ dataChartPPID['StatusPemenuhan']['labels']|json_encode|raw }},
        datasets : [
        {
            label: 'Status Pemenuhan',
            backgroundColor: [      
                'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [      
                'rgb(255, 159, 64)',
            ],
            borderWidth: 1,
            data: {{ dataChartPPID['StatusPemenuhan']['data']|json_encode|raw }},
        }]
    }
    const myChartPermintaanLewat = new Chart(
        document.getElementById('ppid_chart_permintaan_lewat'),
        {
            type: 'bar',
            data: dataDipenuhiLewat,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        }
    )
    const myChartPermintaan = new Chart(
        document.getElementById('ppid_chart_permintaan'),
        {
            type: 'bar',
            data: dataPermintaan,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        }
    )
    const myChartPemenuhan = new Chart(
        document.getElementById('ppid_chart_pemenuhan'),
        {
            type: 'bar',
            data: dataPemenuhan,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        }
    )
</script>

{% endput %}


