{% set dataUserMinta = __SELF__.dataUserMinta %}
<div id="frmReqContainer">
    <form name="frmReqPPID" id="frmReqPPID" role="form"
        data-request-validate
        data-request-flash
        data-request="{{ __SELF__ }}::onSubmitData"
        data-request-update="'{{ __SELF__ }}::success': '#frmReqContainer'">
        <input type="hidden" name="csrf_token" value="{{ dataUserMinta['csrf_token'] }}" />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Form Permohonan Data/Informasi PPID</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger" data-validate-error>
                    <p data-message></p>
                </div>
                <div class="form-group">
                    <label for="email">Email Pemohon</label>
                    <input type="text" id="email" class="form-control" name="email" placeholder="Email">
                    <span data-validate-for="email"></span>
                </div>
                <div class="form-group">
                    <label for="nama">Nama Pemohon</label>
                    <input type="text" id="nama" class="form-control" name="nama" placeholder="Nama Anda"> 
                    <span data-validate-for="nama"></span>
                </div>
                <div class="form-group">
                    <label for="alamat">Alamat Pemohon</label>
                    <input type="text" id="alamat" class="form-control" name="alamat" placeholder="Alamat lengkap Anda"> 
                    <span data-validate-for="alamat"></span>
                </div>
                <div class="form-group">
                    <label for="hp">Nomor HP</label>
                    <input type="text" id="hp" class="form-control" name="hp" placeholder="08xx"> 
                    <span data-validate-for="hp"></span>
                </div>
                
                <div class="form-group">
                    <label for="jenis_identitas">Jenis Identitas</label>
                    <select name="jenis_identitas" class="form-control">
                        <option>Pilih Jenis Identitas</option>
                        {% for key, jenisIdentitas in dataUserMinta['jenisIdentitas'] %}
                        <option value="{{ key }}">{{ jenisIdentitas }}</option>
                        {% endfor %}
                    </select>
                    <span data-validate-for="jenis_identitas"></span>
                </div>

                <div class="form-group">
                    <label for="nomor_identitas">Nomor/Kode Identitas</label>
                    <input type="text" id="nomor_identitas" class="form-control" name="nomor_identitas" placeholder="Nomor Identitas"> 
                    <span data-validate-for="nomor_identitas"></span>
                </div>

                <div class="form-group">
                    <label for="cara_mendapatkan">Cara Mendapatkan</label>
                    <select name="cara_mendapatkan" class="form-control">
                        <option>Pilih Cara Mendapatkan</option>
                        {% for key, caraMendapatkan in dataUserMinta['caraMendapatkan'] %}
                        <option value="{{ key }}">{{ caraMendapatkan }}</option>
                        {% endfor %}
                    </select>
                    <span data-validate-for="cara_mendapatkan"></span>
                </div>

                <div class="form-group">
                    <label for="pemenuhan_lewat">Pemenuhan Lewat</label>
                    <select name="pemenuhan_lewat" class="form-control">
                        <option>Pilih Cara Pemenuhan</option>
                        {% for key, pemenuhanLewat in dataUserMinta['pemenuhanLewat'] %}
                        <option value="{{ key }}">{{ pemenuhanLewat }}</option>
                        {% endfor %}
                    </select>
                    <span data-validate-for="pemenuhan_lewat"></span>
                </div>
                <div class="form-group">
                    <label for="kebutuhan">Kebutuhan</label>
                    <textarea name="kebutuhan" id="kebutuhan" class="form-control" placeholder="Jelaskan kebutuhan"></textarea>
                    <span data-validate-for="kebutuhan"></span>
                    <p class="help-block">Jelaskan tentang kebutuhan data/informasi  apa dan mengapa ini dibutuhkan.</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn btn-primary" data-attach-loading>Ajukan</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
            
        </div>
    </form>
</div>