<div class="col-md-12 alert alert-success">
    <h6>Data permintaan anda telah direkam, menunggu proses berikutnya dari tim PPID.</h6>
    <p>Tergantung jenis pengajuan, pemenuhan terhadap permintaan data/informasi membutuhkan
     waktu untuk diproses. Lamanya tergantung dengan 
    antrian dan juga data/informasi yang diminta, serta tentu saja <strong>validitas data pemohonan.</strong></p>
</div>