{% set dataKeberatan = __SELF__.dataKeberatan %}
<div id="frmKeberatan">
    <form name="frmKeberatanPPID" id="frmKeberatanPPID" role="form"
        data-request-validate
        data-request-flash
        data-request="{{ __SELF__ }}::onSubmitData"
        data-request-update="'{{ __SELF__ }}::success': '#frmKeberatan'">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Form Keberatan PPID</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger" style="color: white" data-validate-error>
                    <p data-message></p>
                </div>
                <div class="form-group">
                    <label for="email">Email Pemohon</label>
                    <input type="text" id="email" class="form-control" 
                        data-track-input="500"
                        data-request="onLoadRequestItems"
                        data-request-update="'{{ __SELF__ }}::referensiPermintaan': '#permintaan_id'"
                        name="email" placeholder="Email">
                    <span data-validate-for="email"></span>
                    <p class="help-block">Masukkan email yang digunakan untuk mengajukan permohonan.</p>
                </div>
                <div class="form-group">
                    <label for="nama">Nama Pemohon</label>
                    <input type="text" id="nama" class="form-control" name="nama" placeholder="Nama Anda"> 
                    <span data-validate-for="nama"></span>
                </div>
                <div class="form-group">
                    <label for="alamat">Alamat Pemohon</label>
                    <input type="text" id="alamat" class="form-control" name="alamat" placeholder="Alamat lengkap Anda"> 
                    <span data-validate-for="alamat"></span>
                </div>
                <div class="form-group">
                    <label for="hp">Nomor HP</label>
                    <input type="text" id="hp" name="hp"  class="form-control" 
                        data-track-input="500"
                        data-request="onLoadRequestItems"
                        data-request-update="'{{ __SELF__ }}::referensiPermintaan': '#permintaan_id'"
                        placeholder="08xx"> 
                    <span data-validate-for="hp"></span>
                    <p class="help-block">Masukkan nomor HP yang digunakan untuk mengajukan permohonan.</p>
                </div>
                <div class="form-group">
                    <label for="pekerjaan">Pekerjaan Pemohon</label>
                    <input type="text" id="pekerjaan" class="form-control" name="pekerjaan" placeholder="pekerjaan Anda"> 
                    <span data-validate-for="pekerjaan"></span>
                </div>
                
                <div class="form-group">
                    <label for="jenis_identitas">Jenis Identitas</label>
                    <select name="jenis_identitas" class="form-control">
                        <option>Pilih Jenis Identitas</option>
                        {% for key, jenisIdentitas in dataKeberatan['jenisIdentitas'] %}
                        <option value="{{ key }}">{{ jenisIdentitas }}</option>
                        {% endfor %}
                    </select>
                    <span data-validate-for="jenis_identitas"></span>
                </div>

                <div class="form-group">
                    <label for="nomor_identitas">Nomor/Kode Identitas</label>
                    <input type="text" id="nomor_identitas" class="form-control" 
                        data-track-input="500"
                        data-request="onLoadRequestItems"
                        data-request-update="'{{ __SELF__ }}::referensiPermintaan': '#permintaan_id'"
                        name="nomor_identitas" placeholder="Nomor Identitas"> 
                    <span data-validate-for="nomor_identitas"></span>
                    <p class="help-block">Masukkan nomor identitas yang digunakan untuk mengajukan permohonan.</p>
                </div>
                <hr>
                <div class="form-group">
                    <label for="alasan_keberatan">Alasan Keberatan</label>
                    <select name="alasan_keberatan" class="form-control">
                        <option>Pilih Alasan Keberatan</option>
                        {% for key, alasanKeberatan in dataKeberatan['alasanKeberatan'] %}
                        <option value="{{ key }}">{{ alasanKeberatan }}</option>
                        {% endfor %}
                    </select>
                    <span data-validate-for="alasan_keberatan"></span>
                </div>

                <div class="form-group" id="permintaan">
                    <label for="permintaan_id">Referensi Permintaan</label>
                    <select name="permintaan_id" id="permintaan_id" class="form-control">
                        <option>Pilih Permohonan data yang menjadi sumber keberatan</option>
                    </select>
                    <span data-validate-for="permintaan_id"></span>
                    <p class="help-block">Pilih permintaan yang menjadi sumber keberatan.</p>
                </div>

                <div class="form-group">
                    <label for="kebutuhan">Keberatan</label>
                    <textarea name="kebutuhan" id="kebutuhan" class="form-control" placeholder="Jelaskan keberatan"></textarea>
                    <span data-validate-for="kebutuhan"></span>
                    <p class="help-block">Jelaskan tentang keberatan yang anda ajukan.</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn btn-primary" data-attach-loading>Ajukan</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
            
        </div>
    </form>
</div>

{% put scripts %}
<script type="text/javascript">
function setDataRequestData()
{
    let value = {
        email: $("input#email").val(),
        hp: $("input#hp").val(),
        nomor_identitas: $("input#nomor_identitas").val(),
    };
    $("input#email").data('request-data', value); 
    $("input#hp").data('request-data', value); 
    $("input#nomor_identitas").data('request-data', value); 
}
</script>
{% endput %}