{% set dataKeberatan = __SELF__.dataKeberatan %}
<option>Pilih Pengajuan Sebelumnya</option>
{% for key, itemRequested in dataKeberatan['itemsRequested'] %}
    <option value="{{ key }}">{{ itemRequested }}</option>
{% endfor %}