<div class="col-md-12 alert alert-success">
    <h3>Data keberatan anda telah direkam, menunggu proses berikutnya dari tim PPID.</h3>
    <p style="color: white;">Tergantung jenis pengajuan, pemenuhan terhadap keberatan data/informasi membutuhkan
     waktu untuk diproses. Lamanya tergantung dengan 
    antrian dan juga data/informasi yang diminta, serta tentu saja <strong>validitas data pemohonan.</strong></p>
</div>