<table class="table table-bordered table-sm">
    <thead>
        <tr class="table-dark">
            <th>Nomor Permintaan</th>
            <th>Diajukan</th>
            <th>Pembaharuan</th>
            <th>Kebutuhan</th>
            <th>Status Permintaan</th>
            <th>Status Pemenuhan</th>
        <tr>
    </thead>
    <tbody>
        {% for permintaan in daftar_permintaan %}
        <tr>
            <td>{{ permintaan.nomor_permintaan }}</td>
            <td>{{ permintaan.created_at.format("d-m-Y") }}</td>
            <td>{{ permintaan.updated_at.format("d-m-Y") }}</td>
            <td>{{ permintaan.label_short_kebutuhan }}</td>
            <td>{{ permintaan.label_status_permintaan }}</td>
            <td>{{ permintaan.status_pemenuhan? "Dipenuhi" : "Diproses" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>