{% set dataNgecek = __SELF__.dataNgecek %}
<div id="frmNgecek">
    <div class="alert alert-warning">
        <p>Silahkan isikan salah satu isian di bawah ini, terkait nilai yang digunakan untuk menjadi
        referensi pencarian pengajuan permohonan data PPID.</p>
    </div>
    <form name="frmNgecekPPID" id="frmNgecekPPID" role="form"
        data-request-validate
        data-request-flash
        data-request="{{ __SELF__ }}::onNgecek"
        data-request-update="'{{ __SELF__ }}::itemsRequested': '#itemsRequested'">
        <input type="hidden" name="csrf_token" value="{{ dataNgecek['csrf_token'] }}" />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Form Pengecekan Status Permohonan PPID</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger" style="color: white" data-validate-error>
                    <p data-message></p>
                </div>
                <div class="form-group">
                    <label for="email">Email Pemohon</label>
                    <input type="text" id="email" class="form-control" 
                        name="email" placeholder="Email">
                    <span data-validate-for="email"></span>
                    <p class="help-block">Masukkan email yang digunakan untuk mengajukan permohonan.</p>
                </div>
                <div class="form-group">
                    <label for="hp">Nomor HP</label>
                    <input type="text" id="hp" name="hp"  class="form-control" 
                        placeholder="08xx"> 
                    <span data-validate-for="hp"></span>
                    <p class="help-block">Masukkan nomor HP yang digunakan untuk mengajukan permohonan.</p>
                </div>
                <div class="form-group">
                    <label for="nomor_identitas">Nomor/Kode Identitas</label>
                    <input type="text" id="nomor_identitas" class="form-control" 
                        name="nomor_identitas" placeholder="Nomor Identitas"> 
                    <span data-validate-for="nomor_identitas"></span>
                    <p class="help-block">Masukkan nomor identitas yang digunakan untuk mengajukan permohonan.</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn btn-primary" data-attach-loading>Dapatkan Data</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
            
        </div>
    </form>
</div>
<div id="itemsRequested"></div>