{% set dataNgecek = __SELF__.dataNgecek %}
<h3>Daftar Permohonan Pengajuan PPID Tercatat</h3>
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Diajukan</th>
            <th>Tanggal Diajukan</th>
            <th>Tanggal Diperbaharui</th>
            <th>Status Permintaan</th>
            <th>Status Permohonan</th>
        </tr>
    </thead>
    <tbody>
        {% for item in dataNgecek['itemsRequested'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.kebutuhan_short }}</td>
            <td>{{ item.created_at.format("d-m-Y") }}</td>
            <td>{{ item.updated_at.format("d-m-Y") }}</td>
            <td>{{ item.status_permintaan? "Diterima" : "Diproses" }}</td>
            <td>{{ item.status_pemenuhan? "Dipenuhi" : "Diproses" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>